{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    

 <div class="container"> 

 <h1>Mon CV</h1>


<p>Prenom :{{cv.0.firstname}}</p> 
<p>Nom : {{cv.0.lastname}}</p>
<p>Ville : {{cv.0.city}}</p>
<p> Age : {{cv.0.age}}</p>
<p>Niveau d'études  : {{cv.0.levelOfStudies}}</p>
<p>{{cv.0.totalExperience}} ans d'experience pro</p>
<hr>
<a href="{{cv.0.linkLinkedin}}">Visiter le profil linkedin</a>
<br>
<a href="{{cv.0.linkGithub}}">Visiter le profil github</a> 

 </div>

 <div>
 <a href="{{path('app_pdf')}}">Télecharger mon CV au format PDF</a>
 </div>

{% endblock %}
